# Pandas

### -Es un paquete que ayuda a trabajar con datos multidimensionales
### -Significa Panes DataSets
### -Podemos manipular tablas de datos de diferentes tipos en distintos DataFrames

In [4]:
#Lo primero que haremos sera cargar pandas
import pandas as pd

In [1]:
#listas de Lugares
Guanajuato =['México', 2019, 'Practica de campo','Callejon del beso',True]
SanLuisPotosi=['México',2019,'Practica de campo','Sótano de las golondrinas',True]
QuintanaRoo=['México',2020,'Practica de campo','Laguna de los 7 colores',True]
Edomex=['México',2022,'servicio social','Zumpahuacán', False]

In [2]:
Salidas=[Guanajuato,SanLuisPotosi,QuintanaRoo,Edomex]

In [5]:
df_salidas=pd.DataFrame(Salidas, columns=['País','Año de visita','Motivos','Lugar Favorito','VisConGeneracion'])
df_salidas

,País,Año de visita,Motivos,Lugar Favorito,VisConGeneracion
0,México,2019,Practica de campo,Callejon del beso,True
1,México,2019,Practica de campo,Sótano de las golondrinas,True
2,México,2020,Practica de campo,Laguna de los 7 colores,True
3,México,2022,servicio social,Zumpahuacán,False

In [6]:
#Creando un DF vacio
ExpLaboral=pd.DataFrame(columns=['Año','Colonia','Municipio','actividades realizadas','Tiempo','Remunerado'])
ExpLaboral

Empty DataFrame
Columns: [Año, Colonia, Municipio, actividades realizadas, Tiempo, Remunerado]
Index: []

In [10]:
#agregar datos a un DF vacio
ExpLaboral.loc[len(ExpLaboral)] = {
    'Año': 2022,
    'Colonia': 'Universidad',
    'Municipio': 'Toluca de Lerdo',
    'Actividades realizadas': 'Analisis de información, Elaboración de material cartografico, Busqueda y recopilación de información',
    'Tiempo':'Agosto 2022 - Enero 2023',
    'Remunerado':True
}

In [11]:
ExpLaboral

,Año,Colonia,Municipio,actividades realizadas,Tiempo,Remunerado
0,2022,Universidad,Toluca de Lerdo,NaN,Agosto 2022 - Enero 2023,True
1,2022,Universidad,Toluca de Lerdo,NaN,Agosto 2022 - Enero 2023,True

## Seleccionar elementos
### podemos seleccionar elementos a traves del método "loc"

In [12]:
df_salidas

,País,Año de visita,Motivos,Lugar Favorito,VisConGeneracion
0,México,2019,Practica de campo,Callejon del beso,True
1,México,2019,Practica de campo,Sótano de las golondrinas,True
2,México,2020,Practica de campo,Laguna de los 7 colores,True
3,México,2022,servicio social,Zumpahuacán,False

In [13]:
#Debemos especificar la posición y el nombre de la columna
df_salidas.loc[2,'Lugar Favorito']

'Laguna de los 7 colores'

In [14]:
#Para realizar seleccion por columna colocamos el nombre del df y el nombre de la columna
df_salidas['Motivos']

0    Practica de campo
1    Practica de campo
2    Practica de campo
3      servicio social
Name: Motivos, dtype: object

In [15]:
#por el contrario para seleccionar las filas hacemos uso del metodo iloc
df_salidas.iloc[3]

País                         México
Año de visita                  2022
Motivos             servicio social
Lugar Favorito          Zumpahuacán
VisConGeneracion              False
Name: 3, dtype: object

In [16]:
#seleccion booleana
df_salidas["Año de visita"]<2022

0     True
1     True
2     True
3    False
Name: Año de visita, dtype: bool

In [21]:
df_salidas[df_salidas["Año de visita"]<2022]

,País,Año de visita,Motivos,Lugar Favorito,VisConGeneracion
0,México,2019,Practica de campo,Callejon del beso,True
1,México,2019,Practica de campo,Sótano de las golondrinas,True
2,México,2020,Practica de campo,Laguna de los 7 colores,True